
/*======================================
            ABOUT
======================================*/

.about{

    padding:120px 0;

    background:#ffffff;

}

.about-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:80px;

    align-items:center;

}

.about-image{

    position:relative;

}

.about-image img{

    width:100%;

    border-radius:25px;

    box-shadow:0 25px 60px rgba(0,0,0,.12);

}

.about-content h2{

    font-size:3rem;

    margin:20px 0;

    color:var(--dark);

}

.about-content p{

    color:var(--gray);

    line-height:1.9;

    margin-bottom:35px;

}

.about-features{

    display:grid;

    gap:18px;

    margin-bottom:40px;

}

.about-features div{

    display:flex;

    align-items:center;

    gap:15px;

    font-weight:600;

}

.about-features i{

    color:var(--primary);

    font-size:20px;

}
