/*======================================
            ABOUT
======================================*/

.about{

    background:#ffffff;

    padding:120px 0;

}

.about-image{

    width:100%;

    margin:50px auto;

    text-align:center;

    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));

    transition:.35s ease;

}

.about-image img{

    width:100%;

    max-width:900px;

    border-radius:24px;

    display:block;

    margin:auto;

    box-shadow:0 25px 60px rgba(0,0,0,.12);

    transition:.4s;

}

.about-image img:hover{

    transform:scale(1.02);

}

.about-content{

    max-width:850px;

    margin:auto;

    text-align:center;

}

.about-content p{

    font-size:18px;

    line-height:1.9;

    color:var(--gray);

    margin-bottom:45px;

}

/*======================================
        FEATURE PILLS
======================================*/

.feature-pills{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:18px;

    margin-bottom:45px;

}

.feature-pills span{

    background:#eef6ff;

    color:var(--primary);

    padding:14px 24px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;

    cursor:default;

}

.feature-pills span:hover{

    background:var(--primary);

    color:#ffffff;

    transform:translateY(-4px);

}
