/*=========================================
            CONTACT SECTION
=========================================*/

.contact{
    padding:120px 0;
    background:#f8fbff;
}

.contact-grid{
    margin-top:70px;

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;

    align-items:start;
}

/*==========================
        LEFT SIDE
==========================*/

.contact-info{

    display:flex;
    flex-direction:column;

    gap:25px;
}

.contact-card{

    background:#fff;

    border-radius:20px;

    padding:25px;

    display:flex;

    align-items:center;

    gap:20px;

    transition:.35s;

    box-shadow:0 12px 35px rgba(0,0,0,.06);
}

.contact-card:hover{

    transform:translateY(-10px);

    box-shadow:0 25px 50px rgba(0,0,0,.12);
}

.contact-icon{

    width:70px;
    height:70px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:#edf5ff;

    color:#0f5cc0;

    font-size:28px;

    flex-shrink:0;
}

.contact-card h4{

    margin-bottom:8px;

    color:#1d2940;
}

.contact-card p{

    color:#666;

    line-height:1.7;
}

/*==========================
        FORM
==========================*/

.contact-form{

    background:white;

    padding:40px;

    border-radius:25px;

    box-shadow:0 20px 45px rgba(0,0,0,.08);
}

.contact-form form{

    display:flex;

    flex-direction:column;

    gap:20px;
}

.contact-form input,
.contact-form textarea{

    width:100%;

    border:none;

    outline:none;

    background:#f6f8fc;

    padding:18px 22px;

    border-radius:14px;

    font-size:16px;

    transition:.3s;
}

.contact-form textarea{

    resize:none;
}

.contact-form input:focus,
.contact-form textarea:focus{

    background:white;

    box-shadow:0 0 0 3px rgba(32,108,255,.12);
}

.contact-form button{

    margin-top:10px;

    width:100%;
}

.contact-form select{

    width:100%;
    padding:18px 20px;

    border:none;
    border-radius:16px;

    background:#f6f8fc;

    font-size:16px;

    color:#444;

    outline:none;

    transition:0.3s;
}

.contact-form select:focus{

    background:#ffffff;

    box-shadow:0 0 0 3px rgba(32,108,255,.12);
}
