/* Tablet */

@media(max-width:992px){

}

/* Mobile */

@media(max-width:768px){

}

@media (max-width:768px){

.hero{

    padding:120px 20px 80px;

}

.hero-title{

    font-size:2.5rem;

}

.hero-subtitle{

    font-size:1rem;

}

.hero-buttons{

    flex-direction:column;

}

}
