/* Tablet */

@media(max-width:992px){

}

/* Mobile */

@media(max-width:768px){

}

@media (max-width:768px){

.hero{

    padding:120px 20px 80px;

}

.hero-title{

    font-size:2.5rem;

}

.hero-subtitle{

    font-size:1rem;

}

.hero-buttons{

    flex-direction:column;

}

}

@media (max-width:768px){

.section-heading h2{

    font-size:2rem;

}

.services{

    padding:80px 0;

}

}

/* ABOUT */

@media(max-width:768px){

.about{

    padding:80px 0;

}

.about-grid{

    grid-template-columns:1fr;

    gap:40px;

}

.about-content{

    text-align:center;

}

.about-features{

    justify-content:center;

}

.about-features div{

    justify-content:center;

}

.about-content h2{

    font-size:2.2rem;

}

}

/*======================================
            ABOUT
======================================*/

@media(max-width:768px){

.about{

    padding:80px 0;

}

.about-content p{

    font-size:16px;

}

.feature-pills{

    gap:12px;

}

.feature-pills span{

    padding:12px 18px;

    font-size:14px;

}

}

/*======================================
        SHOWCASE
======================================*/

@media(max-width:768px){

.showcase{

    padding:80px 0;

}

.featured-image{

    margin:40px auto;

}

.showcase-card img{

    height:200px;

}

}

/*==============================
        CONTACT
==============================*/

@media(max-width:991px){

.contact-grid{

grid-template-columns:1fr;

gap:40px;

}

}

/*=============================
          FOOTER
=============================*/

@media(max-width:991px){

.footer-grid{

grid-template-columns:1fr;

gap:50px;

text-align:center;

}

.footer-logo{

margin:auto;

}

.footer-social{

justify-content:center;

}

    .footer-bottom-content{

flex-direction:column;

text-align:center;

}

.footer-bottom-links{

justify-content:center;

flex-wrap:wrap;

}

}
