/* =====================================================
   AARUSH ENTERPRISES
   Version : 1.0
   Author  : Pranay
===================================================== */


/* =====================
   CSS VARIABLES
===================== */

:root{

    --primary:#0A4D9F;

    --secondary:#F4B400;

    --dark:#1F2937;

    --light:#F8FAFC;

    --gray:#6B7280;

    --white:#ffffff;

}


/* =====================
   RESET
===================== */

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}


html{

    scroll-behavior:smooth;

}


body{

    font-family:'Inter',sans-serif;

    background:var(--light);

    color:var(--dark);

    overflow-x:hidden;

}


h1,h2,h3,h4,h5,h6{

    font-family:'Poppins',sans-serif;

    font-weight:700;

}


a{

    text-decoration:none;

}


section{

    padding:100px 0;

}

/* ====================================
   NAVBAR
==================================== */

.custom-navbar{

    background:#ffffff;
    padding:18px 0;
    box-shadow:0 4px 20px rgba(0,0,0,.05);

}

.logo{

    width:55px;
    height:55px;
    object-fit:contain;

}

.brand-name{

    margin-left:12px;
    font-size:24px;
    font-weight:700;
    color:var(--primary);

}

.navbar-nav .nav-link{

    margin-left:25px;
    font-weight:600;
    color:var(--dark);

    transition:.3s;

}

.navbar-nav .nav-link:hover{

    color:var(--primary);

}

.btn{

    padding:14px 34px;

    border-radius:50px;

    font-weight:600;

}
