/*======================================
        WHY CHOOSE US
======================================*/

.why-us{

    background:#f7fbff;

    padding:120px 0;

}

.why-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

}

.why-card{

    background:#ffffff;

    border-radius:24px;

    padding:42px 32px;

    text-align:center;

    transition:.4s ease;

    border:1px solid #eef2f7;

        position:relative;
        
        overflow:hidden;

            box-shadow:
        0 15px 40px rgba(0,0,0,.06);

}

.why-card::before{

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:5px;

    background:linear-gradient(
        90deg,
        var(--primary),
        #4ea5ff
    );

    transform:scaleX(0);

    transition:.4s;

}

.why-card:hover::before{

    transform:scaleX(1);

}

.why-card:hover{

    transform:translateY(-12px);

    box-shadow:
        0 30px 65px rgba(0,0,0,.12);

}

.why-card:hover .why-icon{

    background:var(--primary);

}

.why-card:hover .why-icon i{

    color:#fff;

}

.why-icon{

    width:82px;

    height:82px;

    border-radius:22px;

    display:flex;

    align-items:center;

    justify-content:center;

    margin:0 auto 28px;

    background:linear-gradient(
        135deg,
        var(--primary),
        #3b82f6
    );

    color:#fff;

    font-size:34px;

    transition:.4s;

}

.why-card:hover .why-icon{

    transform:rotate(-8deg) scale(1.08);

}

.why-icon i{

    font-size:30px;

    color:var(--primary);

}

.why-card h3{

    font-size:24px;

    margin-bottom:18px;

    font-weight:700;

}

.why-card p{

    line-height:1.9;

    color:#6a7280;

}
